// @charset "utf-8";

// @import "../node_modules/bulma/sass/utilities/initial-variables";

// @import "../node_modules/bulma/bulma";
@import "./_utilities";
//GENERAL
// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

// html {
//   //   font-size: 62.5%;
//   //   background: white;
// }

// body {
//   //   box-sizing: border-box;
//   //   font-family: cedra4f;
// }
#ovojesasvimposebnaklasa {
  #wrapper_html {
    max-width: 990px;
    background: white;
    display: block;
    margin: 0 auto;

    @include for-tablet {
      width: 700px;
    }
  }

  #wrapper_body {
    box-sizing: border-box;
    font-family: $family-secondary;

    @include for-phone {
      padding: 20px;
    }

    @include for-tablet {
      padding: 20px;
    }
  }

  .header {
    width: 100%;
    margin: 20px auto 20px auto;
    display: flex;
    background: $light-pink;
    box-shadow: inset 0px 0px 0px 2px white;

    @include for-phone {
      margin: 5px auto 10px auto;
    }

    &__text-box {
      width: 860px;
      height: 135px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      color: $brownish-grey;
      margin: 0 auto;
      font-family: cedra4f;
    }

    &__logo {
      margin: 40px auto 0 auto;
      width: 70%;
      display: block;
    }

    h2 {
      font-family: $family-secondary;
      font-size: 30px;
      text-align: center;
      text-align: center;

      @include for-phone {
        font-size: 20px;
      }
    }

    h3 {
      font-family: $family-secondary;
      font-size: 12px;
      color: white;
      margin-bottom: 20px;
      text-align: center;
    }

    h4 {
      font-family: $family-secondary;
      font-size: 14px;
      color: $brownish-grey;
      background-color: $green;
      text-align: center;

      @include for-phone {
        font-size: 12px;
      }
    }

    .card1 {
      width: 200px;
      background: $light-pink;
      box-shadow: inset 0px 0px 0px 2px white;
    }

    .card2 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light-pink;
    }
  }

  .form {
    font-family: cedra4f;
    &__wrapper {
      width: 860px;
      margin: 0 auto;
    }

    &__uvod {
      width: 100%;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background: $checked-background;
      color: $brownish-grey;
      margin: 0 auto;
      font-size: 18px;
      font-family: $family-secondary;
      // padding: 30px 55px 55px 55px;
      text-align: center;
      padding-bottom: 20px;

      @include for-phone {
        font-size: 16px;
      }

      p {
        font-family: $family-secondary;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;

        @include for-phone {
          font-size: 16px;
          padding-top: 20px;
          padding-left: 5px;
        }

        @include for-tablet {
          font-size: 16px;
          padding-top: 20px;
          padding-left: 5px;
        }
      }

      h4 {
        font-family: $family-secondary;
        margin-bottom: 10px;
      }
    }

    .green-rectangle {
      display: inline-block;
      width: 90%;
      height: 3px;
      background: $green;
    }

    &__card,
    &__card--title,
    &__card--bodovi {
      width: 100%;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background: white;
      color: $brownish-grey;
      margin: 20px auto;
      padding: 30px 0 55px 0;
      text-align: center;
      font-family: $family-secondary;

      @include for-phone {
        padding: 20px 0 35px 0;
      }

      @include for-tablet {
        padding: 20px 0 45px 0;
      }

      h2 {
        font-family: $family-secondary;
        font-size: 32px;
        text-align: center;
        color: $title-white;
        text-transform: uppercase;
        margin-top: 52px;
        margin-bottom: 22px;
        font-weight: 800;
        text-align: center;

        @include for-phone {
          font-size: 23px;
        }
      }

      h3 {
        font-family: $family-primary;
        font-size: 20px;
        font-weight: 900;
        line-height: 1.1;
        letter-spacing: -0.4px;
        text-align: left;
        color: $background-grey;
        margin-top: 12px;
        margin-bottom: 16px;
        padding-left: 40px;

        @include for-phone {
          font-size: 18px;
          margin-top: 0;
          padding-left: 10px;
        }
        @include for-tablet {
          padding-left: 20px;
        }
      }

      h4 {
        font-family: $family-primary;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        color: $brownish-grey;

        @include for-phone {
          font-size: 10px;
        }
      }

      h5 {
        font-family: $family-primary;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        text-align: left;
        color: $range-gray;
        margin-top: 10px;
        padding-left: 40px;

        @include for-phone {
          padding-left: 10px;
        }
        @include for-tablet {
          padding-left: 20px;
        }
      }

      p {
        font-family: $family-primary;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        color: $brownish-grey;
        margin: 0;
        padding-left: 40px;

        @include for-phone {
          font-size: 14px;
          padding-left: 10px;
          padding-right: 10px;
        }

        @include for-tablet {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .prvo-pitanje {
        margin-bottom: 20px;
      }

      &--green {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 43px;
          height: calc(100% + 20px);
          left: -52px;
          top: 0;
          background-color: $green-section;

          @include for-phone {
            width: 50px;
          }
        }
      }

      &--yellow {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 43px;
          height: calc(100% + 20px);
          left: -52px;
          top: 0;
          background-color: $yellow-section;

          @include for-phone {
            width: 50px;
          }
        }
      }

      &--purple {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 43px;
          height: calc(100% + 20px);
          left: -52px;
          top: 0;
          background-color: $purple-section;

          @include for-phone {
            width: 50px;
          }
        }
      }

      &--green2 {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 43px;
          height: calc(100% + 20px);
          left: -52px;
          top: 0;
          background-color: $green-section2;

          @include for-phone {
            width: 50px;
          }
        }
      }

      &--red {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 43px;
          height: calc(100% + 20px);
          left: -52px;
          top: 0;
          background-color: $red-section;

          @include for-phone {
            width: 50px;
          }
        }
      }

      &--blue {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 43px;
          height: calc(100% + 20px);
          left: -52px;
          top: 0;
          background-color: $blue-section;

          @include for-phone {
            width: 50px;
          }
        }
      }

      &--purple2 {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 43px;
          height: calc(100% + 20px);
          left: -52px;
          top: 0;
          background-color: $purple-section2;

          @include for-phone {
            width: 50px;
          }
        }
      }

      &--grey {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 43px;
          height: calc(100% + 21px);
          left: -52px;
          top: 0;
          background-color: $grey-section;

          @include for-phone {
            width: 50px;
          }
        }
      }
    }

    &__author {
      text-align: right;
      padding-right: 60px;

      @include for-phone {
        padding-right: 0;
      }

      h2 {
        font-size: 14px;

        @include for-phone {
          font-size: 12px;
        }
      }
    }

    &__colored_line {
      margin-bottom: 70px;
      margin-left: 0;
      width: 100%;
    }

    &__card--title {
      background: $light-pink;
      padding: 0;
      padding-top: 10px;
    }

    .mjerenje {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
      margin-top: 20px;

      @include for-phone {
        flex-wrap: wrap;
      }

      label {
        @include for-small-phone {
          margin-left: 58px;
          margin-right: 180px;
          margin-top: 33px;
        }
      }

      h3 {
        @include for-phone {
          font-size: 14px;
        }
      }
    }

    .input-wrapper {
      position: relative;
    }

    input[type="text"],
    input[type="date"] {
      width: 75%;
      padding: 20px 20px 20px 40px;
      border: 1px solid $green;
      border-radius: 50px;
      margin: 16px auto;
      font-size: 18px;
      font-family: $family-secondary;

      @include for-phone {
        font-size: 14px;
        padding: 16px;
        font-size: 16px;
        margin: 0 auto 16px auto;
      }

      @include for-tablet {
        font-size: 16px;
        padding: 20px;
      }

      &::placeholder {
        font-size: 14px;

        @include for-phone {
          font-size: 12px;
        }
      }
    }

    input[type="number"] {
      width: 30%;
      margin: 0 auto;
      font-size: 18px;
      border-radius: 0;
      border: 1px solid $green;
      font-family: $family-secondary;
      margin-bottom: 10px;
      padding: 24px 24px 24px 41px;
      margin-bottom: 25px;

      @include for-phone {
        padding: 14px 14px 14px 31px;
        width: 70%;
      }

      &::placeholder {
        font-size: 14px;
        text-align: left;

        @include for-phone {
          font-size: 12px;
        }
      }
    }

    label {
      display: inline-block;
      position: relative;
      width: 50px;

      @include for-phone {
        width: 40px;
      }
    }

    label input {
      display: none;
    }

    label span {
      border: 1px solid $green;
      width: 41px;
      height: 41px;
      position: absolute;
      overflow: hidden;
      line-height: 2;
      text-align: center;
      border-radius: 100%;
      font-size: 20px;
      left: 0;
      top: 50%;
      margin-top: -14px;
      cursor: pointer;
      display: inline-block;
      background: $light-pink;

      @include for-phone {
        width: 30px;
        height: 30px;
        line-height: 1.4;
      }
    }

    input:checked + span {
      background: $green;
      border-color: $green;
      cursor: pointer;
    }

    &__label-wrapper {
      display: flex;
      justify-content: center;
      margin: 48px auto 0 auto;

      @include for-phone {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include for-tablet {
        padding-left: 10px;
      }
    }

    &__end {
      width: 100%;
      margin: 30px auto;
      display: block;

      p {
        font-family: $family-secondary;
        font-size: 23px;
        line-height: 1;
        color: $brownish-grey;
        text-align: center;
        padding: 0 90px;
        text-align: center;

        @include for-phone {
          font-size: 16px;
          padding: 0;
        }
      }
    }

    input[type="submit"] {
      width: 424px;
      height: 45px;
      border: 1px solid $green;
      border-radius: 2rem;
      margin: 15px auto;
      display: block;
      font-size: 18px;
      font-family: $family-secondary;
      color: $brownish-grey;
      background: $green;
      cursor: pointer;
      transition: all 0.3s ease-in;
      margin-bottom: 45px;

      @include for-phone {
        width: 75%;
        font-size: 14px;
      }

      &:hover {
        color: $green;
        background: $brownish-grey;
      }
    }

    // &__card--rezultati {
    //   display: none;
    // }
    // &__card--savjeti-strucnjaka {
    //   display: none;
    // }
    // &__card--rezultati-poraditi-prije {
    //   display: none;
    // }
    // &__card--rezultati-poraditi-nakon {
    //   display: none;
    // }

    &__card--bodovi {
      padding: 20px 0 5px 0;
    }

    .tekst-rezultati {
      font-family: $family-secondary;
      color: $background-grey;
      font-size: 20px;
      font-weight: normal;
      text-align: center;

      @include for-phone {
        font-size: 16px;
      }
    }

    // ERROR MESSAGE
    .error-message {
      font-family: $family-error;
      font-size: 14px;
      background-color: $error-color;
      color: white;
      position: absolute;
      top: 60px;
      right: 0;
      width: 30%;
      padding: 10px;
      margin: 0 auto;

      @include for-phone {
        top: 28px;
        right: 0;
      }
    }

    .error-message::before {
      content: "";
      position: absolute;
      left: -29px;
      bottom: 10px;
      width: 0;
      height: 0;
      border-width: 0 30px 20px 0;
      border-color: transparent $error-color transparent transparent;
      border-style: solid;
    }

    .error input[type="text"],
    .error input[type="date"],
    .error input[name="number"] {
      border: 2px solid $error-color;
      outline: none;
    }
  }

  // SUCCESS MESSAGE
  .success-message {
    margin-bottom: 50px;
    width: 500px;
    height: 250px;
    background: $green;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;

    @include for-phone {
      width: 100%;
      height: 125px;
    }

    .text {
      width: 50%;
      height: 25%;
      background: white;
      box-shadow: 0 22px 60px 0 rgba(0, 0, 0, 0.16);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 30px;
      font-weight: 800;
      font-family: $family-secondary;

      @include for-phone {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 25%;
        font-size: 14px;
      }
    }

    .icon {
      z-index: 1000;
      position: absolute;
      top: 50px;
      margin-left: 0;

      @include for-phone {
        top: 10px;
      }
    }
  }

  #form__card25 {
    p {
      margin-bottom: 10px;
    }
  }

  // Pravila

  .pravila__wrapper {
    display: flex;

    @include for-phone {
      gap: 15px;
    }
  }
  .pravila__wrapper h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $family-secondary;
    color: $link-blue;

    @include for-tablet {
      font-size: 14px;
    }

    @include for-phone {
      font-size: 14px;
      padding-left: 10px;
    }

    @media screen and (min-width: 1025px) {
      font-size: 20px;
    }

    @media screen and (min-width: 2000px) {
      margin-left: 52px;
    }
  }

  .pravila__checkbox {
    width: 44px;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 2000px) {
      margin: 0;
    }
  }

  .pravila__checkbox label {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    border-radius: 4px;
    border: 1px solid $background-grey;
    margin-top: 15px;

    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);
    background: #fcfff4;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

    @include for-phone {
      width: 22px;
      height: 22px;
    }
  }

  .pravila__checkbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: "";
    position: absolute;
    width: 30px;
    height: 18px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 5px solid $green;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

    @include for-phone {
      top: 0;
      left: 0;
      width: 23px;
      height: 12px;
    }
  }

  // .pravila__checkbox label:hover::after {
  //   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  //   filter: alpha(opacity=30);
  //   opacity: 0.5;
  // }

  .pravila__checkbox input[type="checkbox"]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

  input[type="checkbox" i] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .link-pravila {
    color: $link-blue;
    text-decoration: underline;
    font-family: $family-error;
  }

  //   BODOVI

  .results {
    #rKraljeznica,
    #rTrbuh,
    #rSmetnje,
    #rTegobe,
    #rIzgled,
    #rDisanje,
    #rStil {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      transition: background 0.5s ease-in-out;

      @include for-phone {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
    .bodovi {
      font-weight: bold;
      text-align: left;
      margin-bottom: 20px;
      margin-left: 10px;
      font-family: $family-secondary;
      color: $background-grey;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;

      @include for-phone {
        font-size: 16px;
      }
    }

    p {
      font-family: $family-secondary;
      color: $background-grey;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      margin-right: 20px;
      margin-left: 10px;

      @include for-phone {
        font-size: 14px;
        margin-right: 10px;
      }
    }

    #rKraljeznica {
      background-color: rgb(206, 225, 130, 0.6);
    }
    #rTrbuh {
      background-color: rgb(252, 234, 44, 0.6);
    }
    #rSmetnje {
      background-color: rgb(211, 159, 245, 0.6);
    }
    #rTegobe {
      background-color: rgb(126, 248, 161, 0.6);
    }
    #rIzgled {
      background-color: rgb(248, 91, 70, 0.6);
    }
    #rDisanje {
      background-color: rgb(14, 131, 248, 0.6);
    }
    #rStil {
      background-color: rgb(216, 60, 245, 0.6);
    }
  }

  // CRTE U BOJI
  #form__card2::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 100%;
    left: -52px;
    top: 0;
    background-color: $green-section;
    @include for-phone {
      width: 50px;
    }
  }

  #form__card4::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 100%;
    left: -52px;
    top: 0;
    background-color: $yellow-section;

    @include for-phone {
      width: 50px;
    }
  }

  #form__card6::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 100%;
    left: -52px;
    top: 0;
    background-color: $purple-section;

    @include for-phone {
      width: 50px;
    }
  }

  #form__card8::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 100%;
    left: -52px;
    top: 0;
    background-color: $green-section2;

    @include for-phone {
      width: 50px;
    }
  }

  #form__card10::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 100%;
    left: -52px;
    top: 0;
    background-color: $red-section;

    @include for-phone {
      width: 50px;
    }
  }

  #form__card12::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 100%;
    left: -52px;
    top: 0;
    background-color: $blue-section;

    @include for-phone {
      width: 50px;
    }
  }

  #form__card14::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 100%;
    left: -52px;
    top: 0;
    background-color: $purple-section2;

    @include for-phone {
      width: 50px;
    }
  }

  #form__card20::before {
    content: "";
    position: absolute;
    display: block;
    width: 43px;
    height: 100%;
    left: -52px;
    top: 0;
    background-color: $grey-section;

    @include for-phone {
      width: 50px;
    }
  }

  // ERROR 503
  .stranica503 {
    text-align: center;
    margin-top: 50px;
    background-color: $light-grey;
    padding: 20px;

    @include for-phone {
      margin-top: 30px;
    }

    h1 {
      color: $error-page;

      @include for-phone {
        font-size: 20px;
      }
    }

    img {
      width: 50%;
    }

    p {
      font-weight: 800;
    }
  }

  // HIDING FORM
  #anketaForm {
    position: relative;
  }

  #anketaForm::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }

  .napomena {
    position: relative;
    z-index: 10;
    -webkit-box-shadow: inset 0px 0px 0px 3px $green;
    -moz-box-shadow: inset 0px 0px 0px 3px $green;
    box-shadow: inset 0px 0px 0px 3px $green;
  }
}
